// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
#include "sunxi-d1s-t113-mangopi-mq-r.dtsi"

/ {
	model = "MDS network-streamer v2";
	compatible = "allwinner,sun8i-t113s";

	aliases {
		serial1 = &uart1;
		serial5 = &uart5;
	};

	chosen {
		stdout-path = "serial5:115200n8";
		bootargs = "mem=128M root=/dev/mmcblk0p2 init=/sbin/init rootwait console=tty0 console=ttyS5,115200 lpj=240000";
	};

	leds {
		compatible = "gpio-leds";

		status_led {
			linux,default-trigger = "heartbeat";
			label = "make :status";
			gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>; /* PD22 */
		};
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&ccu CLK_FANOUT1>;
		clock-names = "ext_clock";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
		assigned-clocks = <&ccu CLK_FANOUT1>;
		assigned-clock-rates = <32768>;
		pinctrl-0 = <&clk_pg11_pin>;
		pinctrl-names = "default";
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};

	sound-spdif {
		compatible = "simple-audio-card";
		simple-audio-card,name = "On-board SPDIF";

		simple-audio-card,cpu {
			sound-dai = <&spdif>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	// backlight: backlight {
	// 	compatible = "pwm-backlight";
	// 	power-supply = <&reg_vcc>;
	// 	pwms = <&pwm 7 50000 0>;
	// };
	panel: panel {
		compatible = "bananapi,s070wv20-ct16";
		// power-supply = <&reg_vcc3v3>;
		// enable-gpios = <&axp_gpio 0 GPIO_ACTIVE_HIGH>; /* AXP GPIO0 */
		// backlight = <&backlight>;

		port {
			panel_input: endpoint {
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};
	// panel@0 {
	// 	compatible = "sitronix,st7701";
	// 	reg = <0>;
	// 	// backlight = <&backlight>;
	// 	//reset-gpios = <&pio 6 13 GPIO_ACTIVE_LOW>; /* PG13 */

	// 	port {
	// 		panel_in_tcon_lcd0: endpoint {
	// 			remote-endpoint = <&tcon_lcd0_out_panel>;
	// 		};
	// 	};
	// };
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&mmc1 {
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	non-removable;
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	status = "okay";

	rtl8189fs: sdio_wifi@1 {
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_LEVEL_HIGH>; /* PG10 */
		interrupt-names = "host-wake";
	};
};

&uart1 {
        uart-has-rtscts;
        pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
        pinctrl-names = "default";
        status = "okay";

        /* XR829 bluetooth is connected here */
};

&uart5 {
	pinctrl-0 = <&uart5_pb4_pins>;
	pinctrl-names = "default";
	status = "okay";
};


&pio {

	uart5_pb4_pins: uart5-pb4-pins {
	    pins = "PB4", "PB5";
	    function = "uart5";
	};

	clk_pg11_pin: clk-pg11-pin {
			pins = "PG11";
			function = "clk";
	};
};

&spdif {
	pinctrl-names = "default";
	pinctrl-0 = <&spdif_tx_pin>;
	status = "okay";
};

&de {
	status = "okay";
};

// &pwm {
// 	pinctrl-0 = <&pwm7_pd22_pin>;
// 	pinctrl-names = "default";
// 	status = "okay";
// };

&tcon_lcd0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins>;
	status = "okay";
};

&tcon_lcd0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

// &tcon_lcd0_out {
// 	tcon_lcd0_out_panel: endpoint {
// 		remote-endpoint = <&panel_in_tcon_lcd0>;
// 	};
// };